# Large Gaussian Splat scene files
public/scenes/**/*.html filter=lfs diff=lfs merge=lfs -text
public/scenes/**/*.sog filter=lfs diff=lfs merge=lfs -text
public/scenes/**/*.ply filter=lfs diff=lfs merge=lfs -text
public/scenes/**/*.compressed.ply filter=lfs diff=lfs merge=lfs -text
